{% extends 'base.html' %}

{% block content %}

<!-- Main Container-->
<div class="container">

    <!-- About-->
    <section name="about" class="py-4">

        <!-- Headline-->
        <div class="row mb-3">
            <h2>About</h2>
        </div>
        <!-- End of Headline -->

        <!-- Inspiration -->
        <div class="row">
            <p>Drawing inspiration from Zyte's <a href="https://books.toscrape.com">books.toscrape.com</a>, we offer a
                dynamic and evolving platform that mimicks the dynamics of a music industry. You can use our website and
                API to learn how to scrape. Built by <a href="https://tilburgsciencehub.com">Tilburg Science Hub</a> for
                educational purposes, we hope this platform helps students and data science enthousiasts around the
                world to learn scraping without the usual (legal) boundaries.</p>
        </div>
        <!-- End of Inspiration -->

        <!-- Data -->
        <div class="row mt-4">
            <h3>Exploring Boundaries</h3>
            <p>We've simulated an entire universe of music, artists, and users, creating a dynamic playground for
                extracting data from our platform. Our data, initialized with a list of artists and songs retrieved from
                <a href="https://raw.githubusercontent.com/mahkaila/songnames/master/SongCSV.csv">Mahkaila's GitHub
                    repository</a>, encompasses a rich catalog of artists and songs. However, the magic lies in how
                users interact with the content, producing a captivating array of consumption behaviors.</p>
            <p>Explore popular artists, discover emerging trends, and understand user preferences as you delve into the
                interplay between music and data. Our platform presents you with a comprehensive <a
                    href="https://api.music-to-scrape.org/docs">API</a>, opening doors to endless possibilities for
                analysis, visualization, and innovation.</p>
        </div>
        <!-- End of Data -->

        <!-- Open Source Contribution -->
        <div class="row mt-4">
            <h3>Join the Open Source Movement</h3>
            <p>We believe in the power of collaboration and learning through hands-on experience. Our project is
                entirely open source, and we invite you to be a part of our journey. Contribute, experiment, and shape
                the future of web scraping and data exploration by joining our community on GitHub. Explore our
                repository at <a
                    href="https://github.com/tilburgsciencehub/music-to-scrape">github.com/tilburgsciencehub/music-to-scrape</a>
                and make your mark.</p>
        </div>
        <!-- End of Open Source Contribution -->

        <!-- Privacy & Terms Link -->
        <div class="row mt-4">
            <h3>Your Privacy Matters</h3>
            <p>As advocates of responsible data usage, we take your privacy seriously. We've outlined our privacy
                practices and usage terms in our dedicated <a href="/privacy_terms">Privacy & Terms</a> section. Feel
                free to explore this section to understand how we handle data, ensure your security, and create a safe
                environment for exploration.</p>
        </div>
        <!-- End of Privacy & Terms Link -->
        <div class="row mt-4" style="display: block;">
            <h3>About</h3>
            <p>In case of questions, feel free to <a href="mailto:h.datta@tilburguniversity.edu">reach out to us</a>!
                <br>
                dr. Hannes Datta<br>
                Associate Professor<br>
                Tilburg School of Economics and Management<br>
                Tilburg University, The Netherlands<br>
            </p>

        </div>


    </section>
    <!-- End of About Section -->

</div>
<!-- End Main Container-->

{% endblock %}