{% extends 'base.html' %}

{% block content %}

<!-- Main Container-->
<div class="container">

    <!-- Recently Played Row-->
    <section name="recently_played" class="py-4">

        <!-- Headline-->
        
        <!-- End of Headline -->

        <!-- About -->
        <div class="">
            <h2>About</h2>

            
            <p>We’re a fictitious music streaming service with a real website and API. Built for educational purposes, you can use us to learn how to extract web data through web scraping and APIs – without the hassle of spitting through restrictive terms of use or being blocked.</p>
            <p>Our service is inspired by Zyte’s <a href="https://books.toscrape.com">Books to Scrape</a>, which you can also use to learn web scraping. Yet, we also provide an API – plus, our entire code base is open, so you extend the site and API or even change the simulated data.</p>
            <p>Our service is currently used to <a href="https://odcm.hannesdatta.com">teach web scraping</a> to students at <a href="https://tilburguniversity.edu">Tilburg University</a>. We’ve been developed by <a href="https://tilburgsciencehub.com">Tilburg Science Hub</a>, Tilburg University’s platform for teaching and applying open science.</p>
            
            <h4>How our service works</h4>
            <p>Our service consists of three components: the front-end website written in Flask, an API backend written in FastAPI, and a data simulation (remember: all data, except artist and song names, is entirely made up!) written in R. </p>
            <p>The only real part in our data is the artist and song names, for which we would like to credit <a href="https://github.com/mahkaila/songnames">Mahkaila, a GitHub user</a>. Oh, and there’s the photo of the trumpet player on our landing page – he’s a real musician from Caracas, Venezuela – thanks for sharing your picture!</p>
             <p>We’re currently deployed on Azure. Our code base is available at <a href="https://github.com/tilburgsciencehub/apis-to-scrape">GitHub</a>. Head over to our repository to find out how you can contribute to it.</p>
                

        <!-- End of About -->

    </section>
    <!-- End of Recently Played Section -->

</div>
<!-- End Main Container-->

{% endblock %}