{% extends 'base.html' %}

{% block content %}

<!-- Main Container-->
<div class="container">

    <!-- About-->
    <section name="about" class="py-4">

        <!-- Headline-->
        <div class="row mb-3">
            <h2>Welcome to Music-to-scrape.org!</h2>
        </div>
        <!-- End of Headline -->

        <!-- Inspiration -->
        <div class="row">
            <p>Inspired by Zyte's <a href="https://books.toscrape.com">books.toscrape.com</a>, we are a
                platform that mimics the dynamics of the music industry. You can use our website and
                API to learn how to scrape. Built by <a href="https://tilburgsciencehub.com">Tilburg Science Hub</a> and featured in the <a href="https://doi.org/10.1016/j.jretai.2024.02.002">Journal of Retailing</a>, we hope this platform helps students and data science enthusiasts around the
                world to learn scraping.</p>
        </div>
        <!-- End of Inspiration -->

        <!-- Data -->
        <div class="row mt-4">
            <h3>Exploring Our Data</h3>
            <p>We've simulated the behavior of hundreds of users, listening to thousands of different songs and artists using R. 
                The data, initialized with a list of artists and songs retrieved from
                <a href="https://raw.githubusercontent.com/mahkaila/songnames/master/SongCSV.csv">Mahkaila's GitHub
                    repository</a>, encompasses artists of different degrees of popularity and users that develop preferences for these artists and songs,
                producing a large variety of consumption behaviors.</p>
            <p>Learn how to explore popular or featured artists, discover emerging trends, and understand user preferences as you engage with the
                data. Our platform also presents you with a comprehensive <a
                    href="https://api.music-to-scrape.org/docs">API</a>, opening endless possibilities for
                analysis and visualization.</p>
        </div>
        <!-- End of Data -->

        <!-- Open Source Contribution -->
        <div class="row mt-4">
            <h3>Join this Open Source Project</h3>
            <p>We believe in the power of collaboration and learning through hands-on experience. Our project is
                entirely open source, and we invite you to become part of it. Contribute, experiment, and shape
                how the platform looks and feels or how (realistic) the data is. Explore our
                <a href="https://github.com/tilburgsciencehub/music-to-scrape">repository at GitHub</a>!</p>
        </div>
        <!-- End of Open Source Contribution -->

        <!-- Privacy & Terms Link -->
        <div class="row mt-4">
            <h3>Your Privacy Matters</h3>
            <p>As advocates of responsible data usage, we take your privacy seriously. We've outlined our privacy
                practices and usage terms in our dedicated <a href="/privacy_terms">Privacy & Terms</a> section. Feel
                free to explore this section to understand how we handle data and create a safe
                learning environment.</p>
        </div>
        <!-- End of Privacy & Terms Link -->
        <div class="row mt-4" style="display: block;">
            <h3>Getting in Touch</h3>
            <p>In case of questions, feel free to <a href="mailto:h.datta@tilburguniversity.edu">reach out to us</a>!
                <br>
                <br>
                dr. Hannes Datta<br>
                Associate Professor<br>
                Tilburg School of Economics and Management<br>
                Tilburg University, The Netherlands<br>
                <a href="mailto:h.datta@tilburguniversity.edu">h.datta@tilburguniversity.edu</a><br>
                <br>
                
                
            </p>

        </div>


    </section>
    <!-- End of About Section -->

</div>
<!-- End Main Container-->

{% endblock %}
