{% extends 'base.html' %}

{% block content %}

<!-- Main Container-->
<div class="container">

    <!-- Recently Played Row-->
    <section name="recently_played" class="py-4">

        <!-- Headline-->
        <div class="row mb-3">
            <h2>Privacy & Terms</h2>
        </div>
        <!-- End of Headline -->

        <!-- Privacy & Terms -->
        <div class="row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend sagittis mauris et laoreet.
                Cras rhoncus consequat magna, eget fringilla neque convallis et. Etiam porttitor sapien ac erat
                varius accumsan sit amet nec nulla. Integer nec aliquam felis. Ut vel odio quis diam luctus suscipit
                sagittis vitae nulla. Phasellus eu lectus dictum, pharetra orci a, luctus libero. Ut eget laoreet
                tortor. Fusce a massa quam. Donec nec semper sem, vehicula consectetur leo. Integer quis nisi et
                lorem mollis blandit consectetur vitae nunc. Fusce eget eros magna. Quisque pharetra mi et lectus
                malesuada, non sodales elit tempor. Nulla porta aliquam dignissim. Sed nec malesuada risus.

                Praesent cursus diam non eros interdum, sit amet pulvinar elit iaculis. Vestibulum eu purus ac massa
                tristique tempor a vitae nibh. Fusce rutrum velit id mi iaculis, in vestibulum mauris imperdiet.
                Morbi congue enim nec metus placerat, ut volutpat tortor luctus. Integer nec fringilla metus.
                Curabitur non dolor laoreet, dictum eros a, suscipit enim. Praesent ut aliquet est. Nullam sed
                posuere nulla, nec pharetra felis. Quisque a erat imperdiet, aliquam enim rhoncus, ullamcorper erat.
                Vivamus non urna a metus posuere vestibulum. Fusce semper quam sed ornare tincidunt. Sed vestibulum
                nisl mauris, ut auctor urna maximus et. In mattis neque tempus semper lobortis. Praesent eu est at
                ex aliquet accumsan. Nam diam magna, commodo eu lobortis vitae, facilisis vel felis.

                Nunc porttitor rutrum nibh vel porta. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia curae; Vivamus aliquam interdum orci, id cursus magna dapibus nec.
                Curabitur vehicula dictum imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia curae; Nullam facilisis posuere mauris id convallis. Donec massa arcu,
                pellentesque at arcu vitae, feugiat eleifend libero. Curabitur aliquet imperdiet nibh, vel aliquet
                ex egestas volutpat. Nunc placerat dictum turpis, non fermentum purus lacinia ac. Duis augue est,
                finibus ut sem posuere, molestie tristique ex. Curabitur dui lorem, malesuada ut risus a, congue
                ultricies justo. Phasellus iaculis nulla sit amet nulla imperdiet, a ornare velit mollis.</p>
        </div>

        <!-- Codeblock -->
        <div class="row">
            <div class="codeblock">
                <div class="float-right">
                    <a class="copyCodeBtn" data-index="0"><i class="fa-solid fa-copy"
                            style="color:#FE9C00;cursor: pointer;" onclick="copyCode()"></i></a>
                </div>
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation"
                        style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
                        <a class="nav-link active"
                            style="background-color: #F0F5F9;border: none; color:#FE9C00;text-decoration: underline;"
                            aria-selected="true">Python</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="highlight" style="background-color: #F0F5F9;">
                            <pre class="justify-content-start"><code id="code-content">
def func(A):
    result = 0
    n = len(A)
    while n > 1:
        n = n/2
        result = result + min(A[1,...,n])
    return result
                            </code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Privacy & Termsr -->

    </section>
    <!-- End of Recently Played Section -->

</div>
<!-- End Main Container-->

{% endblock %}