{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<div class="ms-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="ms_banner_img">
                    <img src="{{ url_for('static', filename='images/copia.png') }}" alt="" class="img-fluid">
                </div>
                <div class="ms_banner_text center-vertical">
                    <h1>This Month’s</h1>
                    <h1 class="ms_color">Top Streamed Artists!</h1>
                    <p class="banner_text_par">So many great artists have been hitting the streaming charts for the
                        first time in the past year. Explore them now!
                    </p>
                    <div class="ms_banner_btn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->

<!-- Main Container-->
<div class="container">

    <!-- Recently Played Row-->
    <section name="recently_played" class="py-4">

        <!-- Headline-->
        <div class="row align-items-center mb-3">
            <div class="col">
                <h2>Recently Played</h2>
            </div>
            <div class="col-auto">
            </div>
        </div>
        <!-- End of Headline -->

        <!-- Swiper Container -->
        <div class="row">
            <div class="col-lg-12" style="overflow-x: hidden;">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for track in tracks %}
                        <div class="swiper-slide">
                            <a href="song?song-id={{ track.SongID }}"
                                style="color:rgb(1, 51, 101) !important;text-decoration:none">
                                <div class="card">
                                    <img src="https://picsum.photos/id/100/100/100" class="card-img-top" alt="...">
                                    <div class="card-body center-text">
                                        <h5 class="card-title">{{ track.Title }}</h5>
                                        <p class="card-text">{{ track.ArtistName }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <!-- End of Swiper Container -->

    </section>
    <!-- End of Recently Played Section -->

    <!-- Weekly Top 15-->
    <section name="weekly_15" class="my-4">
        <div class="row">
            <div class="col">
                <h2>Top 15 Weekly Tracks</h2>
            </div>
        </div>
        <div class="row">
            {% for column in top_songs|batch(5) %}
            <div class="col-md-4">
                <div class="list-group list-group-flush">
                    {% for song in column %}
                    <a href="song?song-id={{ song.song_id }}">
                        <div class="list-group-item list-group-item-action border">
                            <div class="row justify-content-center">
                                <div class="col-sm-2 rank-column">
                                    <div class="center-vertical text-center">
                                        <h2>{{ song.rank }}</h2>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="center-vertical">
                                        <img src="https://picsum.photos/id/237/50/50"
                                            class="align-self-center mobile-center">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="center-vertical center-text">
                                        <h5><b>{{ song.ArtistName }}</b></h5>
                                        <p>{{ song.Title }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End of Weekly Top 15-->

    <!-- Featured Artists-->
    <section name="featured_artists" class="py-4">

        <!-- Headline-->
        <div class="row align-items-center mb-3">
            <div class="col">
                <h2>Featured Artists</h2>
            </div>
        </div>
        <!-- End of Headline -->

        <!-- Swiper -->
        <div class="row">
            <div class="col-lg-12" style="overflow-x: hidden;">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {% for artist in featured_artists %}
                        <div class="swiper-slide">
                            <a href="artist?artist-id={{ artist.ArtistID }}">
                                <div class="card">
                                    <img src="https://picsum.photos/id/100/100/100" class="card-img-top" alt="...">
                                    <div class="card-body center-text">
                                        <h5 class="card-title">{{ artist.ArtistName }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Swiper -->

    </section>
    <!-- End of Recently Played Section -->

    <!-- Recent Users -->
    <section>
        <h2>Recent Active Users</h2>
        <div class="my-4 mb-5">
            <div class="row">

                {% for user in recent_users %}
                <div class="col-sm-2 d-flex justify-content-center mobile-user-margin">
                    <a href="user?username={{ user.user }}">
                        <div class="avatar-container">
                            <div class="avatar">
                                <img src="{{ url_for('static', filename='images/icon-user.png') }}">
                            </div>
                            <span class="avatar-span">{{ user.ArtistName }} - {{ user.Title }}</span>
                            <h5 style="text-align:center;margin-left: -10px;margin-top: 5px;">{{ user.user }}</h5>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- End Recent Users-->

</div>
<!-- End Main Container-->
{% endblock %}