{% extends 'base.html' %}

{% block content %}

<!-- Main Container-->
<div class="container">

    <!-- Recently Played Row-->
    <section name="recently_played" class="py-4">

        <!-- Headline-->
        
        <!-- End of Headline -->

        <!-- Privacy & Terms -->
        <div class="">
            <h2>Privacy & Terms of Use</h2>

            <p>Last Updated: 5 March, 2024</p><br>


            <p>This Privacy & Terms of Use ("Agreement") is a legal agreement between you ("User," "You," or "Your") and music-to-scrape.org, an open-source project operated by Tilburg University ("we," "us," or "our"), based in The Netherlands. By accessing or using the music-to-scrape.org website ("Site") or any services provided therein, including the API ("Services"), you agree to comply with and be bound by this Agreement. If you do not agree with these terms, please refrain from using the Site and Services.
            </p>

            <h4>1. Privacy</h4>

            <p>Data Collection: At present, music-to-scrape.org uses Google Analytics to understand how users navigate our site. We are committed to respecting your privacy and ensuring that your interactions with our Site remain anonymous. However, we reserve the right to collect and process certain data in the future, which will be governed by our updated Privacy Policy.</p>
            <p>Cookies: We make use of Cookies to track your preference with regard to the use of Google Analytics. You can manage your cookie preferences - for this, simply look for "Manage Cookies" in the footer of our website.</p>
        
            <h4>2. Terms of use</h4>
           <p>Access and Usage: You are granted a non-exclusive, non-transferable, limited right to access and use the Site and Services for educational purposes only. You agree not to use the Site and Services for any malicious, harmful, or unauthorized activities. You may not attempt to disrupt, damage, or interfere with the Site's functionality or any associated systems.</p>
           <p>Web Scraping and API Usage: The primary purpose of music-to-scrape.org is to provide a platform for educational web scraping activities. You are permitted to use web scraping tools and techniques to extract data from the Site for learning purposes. You may also use the API to access data from the Site without any limitations. However, any use of the Site, Services, or API that violates this Agreement, harms the Site's infrastructure, or constitutes abusive scraping is strictly prohibited.</p>
           <p>Contributions: If you wish to contribute to the music-to-scrape.org project, you can do so by participating in our GitHub repository. Contributions are subject to the terms outlined in the repository's documentation.</p>
            <p>Intellectual Property: The content, code, and materials provided on the Site are protected by intellectual property laws. You may not reproduce, distribute, modify, create derivative works, or use any content from the Site for commercial purposes without obtaining prior written consent from us.</p>
            <p>Limitation of Liability: While we strive to ensure the accuracy and quality of the content on the Site, we make no warranties or representations regarding the completeness, accuracy, or reliability of the content. Your use of the Site and Services is at your own risk.</p>
            <p>Changes to Agreement: We reserve the right to modify, update, or amend this Agreement at any time. Any changes will be effective immediately upon posting on the Site. Your continued use of the Site and Services after such changes constitutes your acceptance of the modified Agreement.</p>

            <br><br>
            <p>By accessing or using the Site and Services, you acknowledge that you have read, understood, and agree to abide by this Privacy & Terms of Use Agreement. If you have any questions or concerns, please contact us at <a href="mailto:h.datta@tilburguniversity.edu">h.datta@tilburguniversity.edu</a>.</p>

            <p>This Agreement is governed by and construed in accordance with the laws of The Netherlands. Any disputes arising from or in connection with this Agreement shall be subject to the exclusive jurisdiction of the courts of The Netherlands.</p>


        <!-- End of Privacy & Terms -->

    </section>
    <!-- End of Recently Played Section -->

</div>
<!-- End Main Container-->

{% endblock %}