{% extends 'base.html' %}

{% block content %}

<!-- Main Container-->
<div class="container">

    <!-- Recently Played Row-->
    <section name="recently_played" class="py-4">

        <!-- Headline-->
        
        <!-- End of Headline -->

        <!-- Privacy & Terms -->
        <div class="">
            <h2>Privacy & Terms of Use</h2>

            <p>Last Updated: May 31, 2023</p><br>

            <h4>1. Use of the Service</h4>
            <p>1.1. You must be at least 13 years old to use the Service. If you are under the age of 18, you should
                review these Terms with a parent or guardian to ensure they understand and agree to them.</p>
            <p>1.2. You agree to use the Service only for lawful purposes and in compliance with all applicable laws and
                regulations.</p>
            <p>1.3. You are responsible for maintaining the confidentiality of your account credentials and for all
                activities that occur under your account. You agree to notify us immediately of any unauthorized use of
                your account.</p>

            <h2>2. Intellectual Property</h2>
            <p>2.1. The content and materials available on the Service, including but not limited to text, graphics,
                logos, images, audio clips, and software, are owned or licensed by us and are protected by copyright and
                other intellectual property laws.</p>
            <p>2.2. You may not reproduce, distribute, modify, transmit, perform, or display any portion of the Service
                without our prior written consent.</p>
            <p>2.3. You may use the Service for your personal, non-commercial use only. Any other use requires our
                express written permission.</p>

            <h2>3. API Usage</h2>
            <p>3.1. The Service provides an API that allows users to access certain functionalities of the Service
                programmatically. Your use of the API is subject to these Terms and any additional terms and conditions
                that we may provide.</p>
            <p>3.2. You may use the API solely for educational and non-commercial purposes related to learning about web
                scraping and APIs. Any other use of the API, including commercial use, is strictly prohibited unless
                otherwise agreed upon in writing.</p>

            <h2>4. Privacy</h2>
            <p>4.1. At present, we do not collect any personal data from our users. However, we reserve the right to
                collect and process personal data in the future. If we do so, we will update these Terms and provide you
                with notice and an opportunity to review and consent to our updated privacy practices.</p>
            <p>4.2. We are committed to protecting your privacy and handling your personal data in accordance with
                applicable privacy laws. Please refer to our Privacy Policy for more information on how we collect, use,
                and safeguard your personal data.</p>

            <h2>5. Warranty Disclaimer</h2>
            <p>5.1. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT WARRANTIES OF ANY KIND,
                WHETHER EXPRESS, IMPLIED, OR STATUTORY. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE DISCLAIM
                ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
                PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</p>
            <p>5.2. WE DO NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED, ERROR-FREE, OR FREE FROM HARMFUL
                COMPONENTS. WE MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR
                TIMELINESS OF THE CONTENT AVAILABLE THROUGH THE SERVICE.</p>

            <h2>6. Limitation of Liability</h2>
            <p>6.1. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL WE BE LIABLE FOR ANY INDIRECT,
                INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER
                INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, ARISING
                OUT OF OR IN CONNECTION WITH YOUR USE OF THE SERVICE.</p>
            <p>6.2. OUR TOTAL LIABILITY TO YOU FOR ANY CLAIM ARISING OUT OF OR RELATING TO THESE TERMS OR THE SERVICE
                SHALL NOT EXCEED THE AMOUNT PAID BY YOU (IF ANY) TO US FOR THE USE OF THE SERVICE DURING THE THREE (3)
                MONTHS IMMEDIATELY PRECEDING THE CLAIM.</p>

            <h2>7. Contact Information</h2>
            <p>If you have any questions or concerns about these Terms or the Service, you may contact us at:</p>
            <p>Name: Hannes Datta</p>
            <p>Position: Associate Professor</p>
            <p>Email: h.datta@tilburguniversity.edu</p>

            <p>Please note that these Terms are subject to change at any time without notice. It is your responsibility
                to review these Terms periodically for any updates or modifications.</p>
        <!-- End of Privacy & Terms -->

    </section>
    <!-- End of Recently Played Section -->

</div>
<!-- End Main Container-->

{% endblock %}