<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy & Terms of Use | music-to-scrape</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4e7776d591.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static_css', path='style.css') }}">
</head>

<body>
    <!-- Top Bar -->
    <div class="top-bar">
        <p>We are a demo site without real data - use us to learn collecting data with web scraping and APIs.</p>
    </div>
    <!-- End Top Bar -->

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto align-content-center" style="color: rgb(1,51,101)">
                <li class="nav-item active" style="color: rgb(1,51,101)">
                    <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Learn how to scrape</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Learn how to use API</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form action="{{ url_for('search') }}" class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search for artists, songs, and users" aria-label="Search" style="width:300px">
                <input type="hidden" name="page" value="{{ page }}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- End navbar -->

    <!-- Main Container-->
    <div class="container">

        <!-- Recently Played Row-->
        <section name="recently_played" class="py-4">

            <!-- Headline-->
            <div class="row mb-3">
                    <h2>Privacy & Terms of Use</h2>
            </div>
            <!-- End of Headline -->

            <!-- Privacy & Terms -->
            <div class="row">

                <p>Last Updated: May 31, 2023</p><br><br><br>
                
                <h4>1. Use of the Service</h4>
                <p>1.1. You must be at least 13 years old to use the Service. If you are under the age of 18, you should review these Terms with a parent or guardian to ensure they understand and agree to them.</p>
                <p>1.2. You agree to use the Service only for lawful purposes and in compliance with all applicable laws and regulations.</p>
                <p>1.3. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account.</p>
                
                <h2>2. Intellectual Property</h2>
                <p>2.1. The content and materials available on the Service, including but not limited to text, graphics, logos, images, audio clips, and software, are owned or licensed by us and are protected by copyright and other intellectual property laws.</p>
                <p>2.2. You may not reproduce, distribute, modify, transmit, perform, or display any portion of the Service without our prior written consent.</p>
                <p>2.3. You may use the Service for your personal, non-commercial use only. Any other use requires our express written permission.</p>
                
                <h2>3. API Usage</h2>
                <p>3.1. The Service provides an API that allows users to access certain functionalities of the Service programmatically. Your use of the API is subject to these Terms and any additional terms and conditions that we may provide.</p>
                <p>3.2. You may use the API solely for educational and non-commercial purposes related to learning about web scraping and APIs. Any other use of the API, including commercial use, is strictly prohibited unless otherwise agreed upon in writing.</p>
                
                <h2>4. Privacy</h2>
                <p>4.1. At present, we do not collect any personal data from our users. However, we reserve the right to collect and process personal data in the future. If we do so, we will update these Terms and provide you with notice and an opportunity to review and consent to our updated privacy practices.</p>
                <p>4.2. We are committed to protecting your privacy and handling your personal data in accordance with applicable privacy laws. Please refer to our Privacy Policy for more information on how we collect, use, and safeguard your personal data.</p>
                
                <h2>5. Warranty Disclaimer</h2>
                <p>5.1. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, OR STATUTORY. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</p>
                <p>5.2. WE DO NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED, ERROR-FREE, OR FREE FROM HARMFUL COMPONENTS. WE MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE CONTENT AVAILABLE THROUGH THE SERVICE.</p>
                
                <h2>6. Limitation of Liability</h2>
                <p>6.1. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL WE BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE SERVICE.</p>
                <p>6.2. OUR TOTAL LIABILITY TO YOU FOR ANY CLAIM ARISING OUT OF OR RELATING TO THESE TERMS OR THE SERVICE SHALL NOT EXCEED THE AMOUNT PAID BY YOU (IF ANY) TO US FOR THE USE OF THE SERVICE DURING THE THREE (3) MONTHS IMMEDIATELY PRECEDING THE CLAIM.</p>
                
                <h2>7. Contact Information</h2>
                <p>If you have any questions or concerns about these Terms or the Service, you may contact us at:</p>
                <p>Name: Hannes Datta</p>
                <p>Position: Associate Professor</p>
                <p>Email: h.datta@tilburguniversity.edu</p>
                
                <p>Please note that these Terms are subject to change at any time without notice. It is your responsibility to review these Terms periodically for any updates or modifications.</p>
              
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend sagittis mauris et laoreet.
                    Cras rhoncus consequat magna, eget fringilla neque convallis et. Etiam porttitor sapien ac erat
                    varius accumsan sit amet nec nulla. Integer nec aliquam felis. Ut vel odio quis diam luctus suscipit
                    sagittis vitae nulla. Phasellus eu lectus dictum, pharetra orci a, luctus libero. Ut eget laoreet
                    tortor. Fusce a massa quam. Donec nec semper sem, vehicula consectetur leo. Integer quis nisi et
                    lorem mollis blandit consectetur vitae nunc. Fusce eget eros magna. Quisque pharetra mi et lectus
                    malesuada, non sodales elit tempor. Nulla porta aliquam dignissim. Sed nec malesuada risus.

                    Praesent cursus diam non eros interdum, sit amet pulvinar elit iaculis. Vestibulum eu purus ac massa
                    tristique tempor a vitae nibh. Fusce rutrum velit id mi iaculis, in vestibulum mauris imperdiet.
                    Morbi congue enim nec metus placerat, ut volutpat tortor luctus. Integer nec fringilla metus.
                    Curabitur non dolor laoreet, dictum eros a, suscipit enim. Praesent ut aliquet est. Nullam sed
                    posuere nulla, nec pharetra felis. Quisque a erat imperdiet, aliquam enim rhoncus, ullamcorper erat.
                    Vivamus non urna a metus posuere vestibulum. Fusce semper quam sed ornare tincidunt. Sed vestibulum
                    nisl mauris, ut auctor urna maximus et. In mattis neque tempus semper lobortis. Praesent eu est at
                    ex aliquet accumsan. Nam diam magna, commodo eu lobortis vitae, facilisis vel felis.

                    Nunc porttitor rutrum nibh vel porta. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia curae; Vivamus aliquam interdum orci, id cursus magna dapibus nec.
                    Curabitur vehicula dictum imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia curae; Nullam facilisis posuere mauris id convallis. Donec massa arcu,
                    pellentesque at arcu vitae, feugiat eleifend libero. Curabitur aliquet imperdiet nibh, vel aliquet
                    ex egestas volutpat. Nunc placerat dictum turpis, non fermentum purus lacinia ac. Duis augue est,
                    finibus ut sem posuere, molestie tristique ex. Curabitur dui lorem, malesuada ut risus a, congue
                    ultricies justo. Phasellus iaculis nulla sit amet nulla imperdiet, a ornare velit mollis.</p>
            </div>
            <!-- End of Privacy & Termsr -->

        </section>
        <!-- End of Recently Played Section -->

    </div>
    <!-- End Main Container-->

    <!-- Footer -->
    <footer>
        <div class="container pt-5 border-bottom">
            <div class="row">
                <div class="col-md-3 col-sm-12 mb-3">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo_footer"><br><br>
                    <p>We’re a fictitious music streaming service with a real website and API. Built for educational purposes, you can use us to learn web scraping! </p>
                </div>
                <div class="col-md-9 col-sm-12">

                    <div class="col-md-4 col-sm-6 col-6 p-0 mb-3 float-left">
                        <h5 class="mb-4 font-weight-bold text-uppercase">Learn how to scrape</h5>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Tutorial: How to
                                    scrape the site</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Tutorial: Using the
                                    API</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">API
                                    Documentation</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-sm-6 col-6 p-0 float-left mb-3">
                        <h5 class="mb-4 font-weight-bold text-uppercase">More Resources</h5>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Page 1</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Page 1</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Page 1</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Page 1</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Page 1</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
                        <h5 class="mb-4 font-weight-bold text-uppercase">Connect</h5>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href=""><i class="fa fa-linkedin mr-1"></i>
                                    LinkedIn</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="" target="_blank"><i class="fa fa-github mr-1"></i>
                                    Github</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="" target="_blank"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="" target="_blank"><i class="fa fa-youtube mr-1"></i> YouTube</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="py-4 d-flex justify-content-center align-items-center">
                        <a class="mr-4" href="{{ url_for('privacy_terms') }}">Privacy & terms</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 4,
            spaceBetween: 20,
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                768: {
                    slidesPerView: 2
                },
                992: {
                    slidesPerView: 4
                }
            }
        });
    </script>
    <!-- End of Scripts-->
</body>

</html>