{% extends 'base.html' %}

{% block content %}
<!-- Main Container-->
<div class="container">

    <!-- Song Info -->
    <section>
        <div class="row my-3">

            <!-- Basic Informartion Section-->
            <div class="col-lg-4 album_single_text song_basic_information">
                <div class="song_basic_information_card">
                    <h2 class="artist_info_title">Basic Information</h2>
                    <div class="about_artist">
                        <div class="row">
                            <div class="col-6">
                                <h5>Title</h5>
                                <p>{{ song_info.Title }}</p>
                                <h5>Artist:</h5>
                                <p>{{ song_info.ArtistName }}</p>
                                <a href="artist?artist-id={{ song_info.ArtistID }}"
                                    class="btn btn-primary song_button">Go to Artist's Page</a>
                            </div>
                            <div class="col-6">
                                <h5>Year:</h5>
                                <p>{{ song_info.Year }}</p>
                                <h5>Plays:</h5>
                                <p>{{ num_plays }}</p>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>

            <!-- Audio Metrics Section-->
            <div class="col-lg-8 album_single_text song_audio_metrics">
                <h2 class="artist_info_title">Audio Metrics</h2>
                <div class="about_artist">
                    <div class="row">
                        <div class="col-6">
                            <h5>Danceability:</h5>
                            <p>{{ song_info.Danceability }}</p>
                            <h5>Duration:</h5>
                            <p>{{ song_info.Duration }}</p>
                            <h5>Key Signature:</h5>
                            <p>{{ song_info.KeySignature }}</p>
                        </div>
                        <div class="col-6">
                            <h5>Tempo:</h5>
                            <p>{{ song_info.Tempo }}</p>
                            <h5>Time Signature:</h5>
                            <p>{{ song_info.TimeSignature }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row my-3">

            <!-- Statistics section -->
            <div class="col-lg-12 album_single_img song_statistics">
                <h2>Statistics</h2>

                <div class="row statistics-row">
                    <div class="col-lg-auto statistics_col">
                        <h5>Age Groups</h5>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <canvas id="myChart"></canvas>

                        <script>
                            // Get the canvas element
                            var ctx = document.getElementById('myChart').getContext('2d');

                            // Define the chart data
                            var data = {
                                labels: ['Age < 30', 'Age between 30-50', 'Age > 50'], // Labels for each segment
                                datasets: [{
                                    data: [{{ age_groups.group1 }}, {{ age_groups.group2 }}, {{ age_groups.group3 }}], // Values for each segment
                            backgroundColor: ['red', 'green', 'blue'], // Colors for each segment
                          }]
                        };

                            // Create the chart
                            var myChart = new Chart(ctx, {
                                type: 'pie',
                                data: data
                            });
                        </script>
                    </div>
                    <div class="col-lg-8 statistics_col">
                        <h5>Plays This Year</h5>
                        <canvas id="mylineChart"></canvas>

                        <script>
                            // Get the canvas element
                            var ctx = document.getElementById('mylineChart').getContext('2d');

                            // Define the chart data
                            var data = {
                                labels: [{% for month, plays in plays_per_month %}'{{ month }}', {% endfor %}],
                            datasets: [{
                                label: 'Plays',
                                data: [{% for month, plays in plays_per_month %}{{ plays }}, {% endfor %}],
                                borderColor: 'blue',
                                    fill: false
                                  }]
                                };

                            // Create the chart
                            var mylineChart = new Chart(ctx, {
                                type: 'line',
                                data: data
                            });
                        </script>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-8 statistics_col">
                        <h5>Plays & Listeners per country</h5>
                        <canvas id="mylinebarChart"></canvas>
                        <script>
                            // Get the canvas element
                            var ctx = document.getElementById('mylinebarChart').getContext('2d');
                          
                            // Define the chart data
                            var data = {
                              labels: [{% for country, plays in plays_per_country %}'{{ country }}',{% endfor %}],
                              datasets: [
                                {
                                  label: 'Plays',
                                  data: [{% for country, plays in plays_per_country %}{{ plays }},{% endfor %}],
                                  backgroundColor: 'rgba(75, 192, 192, 0.2)', // Bar color
                                  borderColor: 'rgba(75, 192, 192, 1)', // Bar border color
                                  borderWidth: 1,
                                  type: 'bar', // Use bar chart type
                                  yAxisID: 'bar-y-axis' // Use the 'bar-y-axis' scale
                                },
                                {
                                  label: 'Listeners',
                                  data: [{% for country, unique_listeners in unique_listeners_per_country %}{{ unique_listeners }},{% endfor %}],
                                  backgroundColor: 'rgba(255, 99, 132, 0.2)', // Bar color
                                  borderColor: 'rgba(255, 99, 132, 1)', // Bar border color
                                  borderWidth: 1,
                                  type: 'bar', // Use bar chart type
                                  yAxisID: 'bar-y-axis' // Use the 'bar-y-axis' scale
                                }
                              ]
                            };
                          
                            // Create the chart
                            var mylinebarChart = new Chart(ctx, {
                              type: 'bar', // Use bar chart as the main chart type
                              data: data,
                              options: {
                                scales: {
                                  x: {
                                    stacked: false // Enable stacked mode for x-axis
                                  },
                                  'bar-y-axis': {
                                    stacked: false // Enable stacked mode for y-axis of bar datasets
                                  },
                                  'line-y-axis': {
                                    position: 'left', // Position the line dataset on the right y-axis
                                    display: false
                                  },
                                }
                              }
                            });
                        </script>
                    </div>
                    <div class="col-lg-4 statistics_col">
                        <h5 class="artist_info_title">Top 5 Listeners</h5>
                        <div class="about_artist mt-5">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Number of Plays</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for listener in top_listeners %}
                                        <tr>
                                            <td>{{ listener.user }}</td>
                                            <td>{{ listener.play_count }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Artist Info -->

</div>
<!-- End Main Container-->

{% endblock %}