<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We love being scraped | music-to-scrape</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4e7776d591.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static_css', path='style.css') }}">
</head>